/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200&display=swap');

:root {
    --color-primary: #3E9B77;
    --color-primary-dark: #176648;
} 
html {
    background-color: #EDF1EC;
}
* {
    font-family:  sans-serif;
    font-size: 16px;
    color: var(--color-primary-dark);
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 ol, ul {
	list-style: none;
}

h3, h2 {
    font-family: 'Arima Madurai';
}

h2 {
    font-size: 24px;
    margin: 0  0 10px 6px;
    text-shadow: -3px 3px #00000020;
}


.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}