:host {
    display: block;
    width: 240px;
    height: 100%;
    background-color: var(--color-primary);
}

ul {
    padding-top: 2em;
}

ul li.active {
    background-color: var(--color-primary-dark);
}
ul li.active a {
    padding-left: 1.5em;
}

ul li a {
    display: inline-block;
    font-size: 22px;
    padding: 0.5em 1em 0.5em 1em;
    color: white;
    width: 100%;
    transition: padding 0.15s ease;
}