:host {
    display: block;
    width: 240px;
    height: 100%;
    background-color: var(--color-primary);
}

ul {
    padding-top: 2em;
}

ul li {
    padding: 0.5em 2em 0.5em 2em;
}

ul li.active {
    background-color: var(--color-primary-dark);
}

ul li a {
    font-size: 22px;
    color: white;
}